body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Exo 2', sans-serif;
}
